
.sudoku-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.sudoku-input:focus {
  outline: none;
}

.default-value {
  border: 1px solid #a9a9a9;
  color: #17a2b8;
}

.sudoku-board td {
  height: 30px;
  width: 30px;
  border: 1px solid;
  text-align: center;
}
.sudoku-board td:first-child {
  border-left: 4px solid;
}
.sudoku-board td:nth-child(3n) {
  border-right: 4px solid;
}
.sudoku-board tr:first-child {
  border-top: 4px solid;
}
.sudoku-board tr:nth-child(3n) td {
  border-bottom: 4px solid;
}
.HideTimer {
  opacity: 0;
}
.view-mode-board {
  border: 4px solid black;
  -webkit-transition: border 0.2s; /* Safari */
  transition: border 0.2s;
}
.view-mode-board:hover,.view-mode-board:active, .view-mode-board:focus {
  cursor: pointer;
  border: 4px solid #6161f9;
}
.stars-container {
  text-align: center;
  margin-top: 10px;
  color: #6161f9;
}
.purple-bold {
  color: #6161f9;
  font-weight: bold;
}
.sudoku-errors {
  margin-bottom: 10px;
}
.sudoku-errors span {
  font-weight: bold;
  color: red;
}
.sudoku-done {
  position: absolute;
  top: 4px;
  left: 20px;
  z-index: 999;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

  .play-mode-board {
    margin-top: 25px;
  }

  .play-mode-board td {
    height: 15px;
    width: 15px;
    border: 1px solid;
    text-align: center;
  }

  .play-mode-board .sudoku-input  {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
  }

 }